:root {
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headers use Figtree */
h1, h2, h3, h4, h5, h6 {
  font-family: "Figtree", sans-serif;
}
